BOT_CONTAINER_NAME=bot_container_name
BOT_IMAGE_NAME=botimage_name
BOT_NAME=ARTSTATIONBOT
BOT_TOKEN=6888187337:AAHVeLEjXgao2aK8B7umsB4x6sRpo2cNmFE
ADMINS=762527301
USE_REDIS=False

DB_USER=exampleDBUserName
PG_PASSWORD=examplePostgresPass
DB_PASS=exampleDBPassword
DB_NAME=exampleDBName
DB_HOST=127.0.0.1

